<% @students.each do |student| %>
<p>Full Name: <%=student.first_name%> <%=student.last_name%> </p>
<p>Age: <%= student.age %></p>
<p> <a href="/students/<%= student.id %>">Student details </a> </p>

<% end %>
